        
    <div class="row" id="contenido">
       
        <!-- MENU DE TABLA POSICIONES-->
        <div class="col-xs-12 col-md-4">
           <h3><u>TABLA DE POSICIONES</u></h3><br>
            <div class="list-group" id="myList" role="tablist">
                <a class="list-group-item list-group-item-action list-group-item-dark active" data-toggle="list" href="#1ra" role="tab"> PRIMERA</a>
                <a class="list-group-item list-group-item-action list-group-item-dark" data-toggle="list" href="#2da" role="tab"> RESERVA</a>
                <a class="list-group-item list-group-item-action list-group-item-dark" data-toggle="list" href="#sub15" role="tab"> SUB - 15</a>
                <a class="list-group-item list-group-item-action list-group-item-dark" data-toggle="list" href="#sub13" role="tab"> SUB - 13</a>
                <a class="list-group-item list-group-item-action list-group-item-dark" data-toggle="list" href="#sub11" role="tab"> SUB - 11</a>
            </div>
        </div>
        <!-- TABLA DE POSICIONES -->
        <div class="col-xs-12 col-md-6" id="tabla">
            <div class="tab-content">
                <!-- TABLA PRIMERA -->
                <div class="tab-pane active" id="1ra" role="tabpanel"><br>
                    <p><u><strong>PRIMERA</strong></u></p>
                    <div class="wrapper">
                        <table id="acrylic">
                            <thead>
                                <tr>
                                    <th>Posicion</th> <th>Equipo</th> <th>Ptos</th>  <th>PG</th> <th>PE</th><th>PP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#1</td> <td>DMTK</td> <td>22</td>  <td>7</td> <td>1</td> <td>2</td>
                                </tr>
                                <tr>
                                    <td>#2</td> <td>CDYCDC</td> <td>18</td>  <td>5</td> <td>3</td> <td>2</td>
                                </tr>
                                <tr>
                                    <td>#3</td> <td>CAT</td> <td>18</td>  <td>6</td> <td>0</td> <td>4</td>
                                </tr>
                                <tr>
                                    <td>#4</td> <td>CREJ</td> <td>17</td> <td>5</td> <td>2</td> <td>3</td>
                                </tr>
                                <tr>
                                    <td>#5</td> <td>FCVH</td> <td>14</td>  <td>4</td> <td>2</td> <td>5</td>
                                </tr>
                                <tr>
                                    <td>#6</td> <td>CDJU</td> <td>14</td>  <td>3</td> <td>5</td> <td>2</td>
                                </tr>
                                <tr>
                                    <td>#7</td> <td>25 M DE ITALO</td> <td>12</td>  <td>3</td> <td>3</td> <td>4</td>
                                </tr>
                                <tr>
                                    <td>#8</td> <td>CAIR</td> <td>11</td>  <td>3</td> <td>2</td> <td>4</td>
                                </tr>
                                <tr>
                                    <td>#9</td> <td>CDYCM</td> <td>11</td>  <td>3</td> <td>2</td> <td>5</td>
                                </tr>
                                <tr>
                                    <td>#10</td> <td>CSNTP</td> <td>11</td>  <td>3</td> <td>2</td> <td>5</td>
                                </tr>
                                <tr>
                                    <td>#11</td> <td>CSYDBQ</td> <td>11</td>  <td>3</td> <td>2</td> <td>5</td>
                                </tr>
                                <tr>
                                    <td>#12</td> <td>CCVV</td> <td>8</td>  <td>2</td> <td>2</td> <td>6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- TABLA RESERVA -->
                <div class="tab-pane" id="2da" role="tabpanel">
                    <br><p><u><strong>RESERVA</strong></u></p>
                    <div class="wrapper">
                        <table id="acrylic">
                            <thead>
                                <tr>
                                    <th>Posicion</th> <th>Equipo</th> <th>Ptos</th> <th>PG</th> <th>PE</th> <th>PP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#1</td> <td>CREJ</td> <td>24</td> <td>7</td> <td>3</td> <td>0</td>
                                </tr>
                                <tr>
                                    <td>#2</td> <td>DMKT</td> <td>22</td> <td>7</td> <td>1</td> <td>2</td>
                                </tr>
                                <tr>
                                    <td>#3</td> <td>CAT</td> <td>21</td> <td>7</td> <td>0</td> <td>3</td>
                                </tr>
                                <tr>
                                    <td>#4</td> <td>CDYCDC</td> <td>17</td> <td>5</td> <td>2</td> <td>3</td>
                                </tr>
                                <tr>
                                    <td>#5</td> <td>FCVH</td> <td>16</td> <td>5</td> <td>1</td> <td>4</td>
                                </tr>
                                <tr>
                                    <td>#6</td> <td>CAIR</td> <td>14</td> <td>4</td> <td>2</td> <td>4</td>
                                </tr>
                                <tr>
                                    <td>#7</td> <td>CSNTP</td> <td>13</td> <td>3</td> <td>4</td> <td>3</td>
                                </tr>
                                <tr>
                                    <td>#8</td> <td>CDJU</td> <td>12</td> <td>4</td> <td>0</td> <td>6</td>
                                </tr>
                                <tr>
                                    <td>#9</td> <td>25M DE ITALO</td> <td>11</td> <td>3</td> <td>2</td> <td>5</td>
                                </tr>
                                <tr>
                                    <td>#10</td> <td>CCVV</td> <td>8</td> <td>2</td> <td>2</td> <td>6</td>
                                </tr>
                                <tr>
                                    <td>#11</td> <td>CDYCM</td> <td>8</td> <td>2</td> <td>2</td> <td>6</td>
                                </tr>
                                <tr>
                                    <td>#12</td> <td>CSDBQ</td> <td>4</td> <td>1</td> <td>1</td> <td>6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- TABLA SUB - 15 -->
                <div class="tab-pane" id="sub15" role="tabpanel">
                    <!-- SUB - 15 - ZONA SUR -->
                    
                        <br>
                        <p><strong><u>SUB 15 - ZONA SUR</u></strong></p>
                        <div class="wrapper">
                            <table id="acrylic">
                                <thead>
                                    <tr>
                                        <th>Posicion</th> <th>Equipo</th> <th>Ptos</th> <th>PG</th> <th>PE</th> <th>PP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#1</td> <td>CAT</td> <td>20</td> <td>6</td> <td>2</td> <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>#2</td> <td>FCVH</td> <td>18</td> <td>5</td> <td>3</td> <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>#3</td> <td>CSNTP</td> <td>16</td> <td>4</td> <td>4</td> <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>#4</td> <td>CAIR</td> <td>9</td> <td>1</td> <td>3</td> <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>#5</td> <td>CDJU</td> <td>8</td> <td>1</td> <td>4</td> <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>#6</td> <td>25 M Italo</td> <td>7</td> <td>1</td> <td>5</td> <td>5</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    
                    <!-- SUB - 15 - ZONA NORTE -->
                    
                        <p><u><strong>SUB 15 - ZONA NORTE</strong></u></p>
                        <div class="wrapper">
                            <table id="acrylic">
                                <thead>
                                    <tr>
                                        <th>Posicion</th> <th>Equipo</th> <th>Ptos</th> <th>PG</th> <th>PE</th> <th>PP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#1</td> <td>CDYCM</td> <td>27</td>  <td>9</td> <td>0</td> <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>#2</td> <td>CDYCDC</td> <td>22</td>  <td>7</td> <td>1</td> <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>#3</td> <td>CCVV</td> <td>18</td>  <td>5</td> <td>3</td> <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>#4</td> <td>DMTK</td> <td>9</td>  <td>2</td> <td>3</td> <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>#5</td> <td>CREJ</td> <td>9</td>  <td>2</td> <td>3</td> <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>#6</td> <td>CSYDBQ</td> <td>0</td> <td>0</td> <td>0</td> <td>10</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    
                </div>
                <!-- TABLA SUB - 13 -->
                <div class="tab-pane" id="sub13" role="tabpanel">

                    <!-- SUB - 13 - ZONA SUR -->
                    
                        <br>
                        <p><u><strong>SUB 13 - ZONA SUR</strong></u></p>
                        <div class="wrapper">
                            <table id="acrylic">
                                <thead>
                                    <tr>
                                        <th>Posicion</th> <th>Equipo</th> <th>Ptos</th> <th>PG</th> <th>PE</th> <th>PP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#1</td> <td>CAIR</td> <td>20</td> <td>6</td> <td>2</td> <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>#2</td> <td>CAT</td> <td>19</td> <td>5</td> <td>4</td> <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>#3</td> <td>25M DE ITALO</td> <td>15</td> <td>4</td> <td>3</td> <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>#4</td> <td>CDJU</td> <td>14</td> <td>4</td> <td>2</td> <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>#5</td> <td>FCVH</td> <td>10</td> <td>3</td> <td>1</td> <td>6</td>
                                    </tr>
                                    <tr>
                                        <td>#6</td> <td>CSNTP</td> <td>6</td> <td>2</td> <td>0</td> <td>8</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    
                    <!-- SUB - 13 - ZONA NORTE -->
                    
                        <p><u><strong>SUB 13 - ZONA NORTE</strong></u></p>
                        <div class="wrapper">
                            <table id="acrylic">
                                <thead>
                                    <tr>
                                        <th>Posicion</th> <th>Equipo</th> <th>Ptos</th> <th>PG</th> <th>PE</th> <th>PP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#1</td> <td>DMTK</td> <td>23</td> <td>7</td> <td>2</td> <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>#2</td> <td>CDYCDC</td> <td>17</td> <td>4</td> <td>5</td> <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>#3</td> <td>CCVV</td> <td>13</td>  <td>3</td> <td>4</td> <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>#4</td> <td>CDYCM</td> <td>12</td> <td>3</td> <td>3</td> <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>#5</td> <td>CREJ</td> <td>12</td> <td>3</td> <td>3</td> <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>#6</td> <td>CSYDBQ</td> <td>4</td> <td>1</td> <td>1</td> <td>8</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    
                </div>
                <!-- TABLA SUB - 11 -->
                <div class="tab-pane" id="sub11" role="tabpanel">
                    <!-- SUB - 11 - ZONA SUR -->
                    
                        <br>
                        <p><u><strong>SUB 11 - ZONA SUR</strong></u></p>
                        <div class="wrapper">
                            <table id="acrylic">
                                <thead>
                                    <tr>
                                        <th>Posicion</th> <th>Equipo</th> <th>Ptos</th> <th>PG</th> <th>PE</th> <th>PP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#1</td> <td>CDJU</td> <td>18</td> <td>5</td> <td>3</td> <td>2</td> 
                                    </tr>
                                    <tr>
                                        <td>#2</td> <td>CSNTP</td> <td>16</td> <td>4</td> <td>4</td> <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>#3</td> <td>FCVH</td> <td>16</td> <td>5</td> <td>1</td> <td>4</td> 
                                    </tr>
                                    <tr>
                                        <td>#4</td> <td>CAT</td> <td>14</td> <td>4</td> <td>2</td> <td>4</td> 
                                    </tr>
                                    <tr>
                                        <td>#5</td> <td>CAIR</td> <td>13</td> <td>3</td> <td>4</td> <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>#6</td> <td>25M DE ITALO</td> <td>6</td> <td>2</td> <td>0</td> <td>0</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    
                    <!-- SUB - 11 - ZONA NORTE -->
                    
                        <p><u><strong>SUB 11 - ZONA NORTE</strong></u></p>
                        <div class="wrapper">
                            <table id="acrylic">
                                <thead>
                                    <tr>
                                        <th>Posicion</th> <th>Equipo</th> <th>Ptos</th> <th>PG</th> <th>PE</th> <th>PP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#1</td> <td>CREJ</td> <td>26</td> <td>8</td> <td>2</td> <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>#2</td> <td>CDYCDC</td> <td>23</td> <td>7</td> <td>2</td> <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>#3</td> <td>DMTK</td> <td>18</td> <td>5</td> <td>3</td> <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>#4</td> <td>CDYCM</td> <td>7</td> <td>1</td> <td>4</td> <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>#5</td> <td>CCVV</td> <td>6</td> <td>1</td> <td>3</td> <td>6</td>
                                    </tr>
                                    <tr>
                                        <td>#6</td> <td>CSYDBQ</td> <td>2</td> <td>0</td> <td>2</td> <td>8</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                </div> 
            </div>
        </div>
         <!--FIN DE LA TABLA-->
    </div>

    <script>
        $(function () {

            $('#myList a:last').tab('show')

        })
    </script>
