<h3><u>TABLA DE POSICIONES</u></h3>
<div class="row">

    <div class="col-sm-4">
        <div class="list-group" id="myList" role="tablist">
        <a class="list-group-item list-group-item-action list-group-item-dark active" data-toggle="list" href="#1ra" role="tab">PRIMERA</a>
        <a class="list-group-item list-group-item-action list-group-item-dark" data-toggle="list" href="#2da" role="tab">Reserva</a>
        <a class="list-group-item list-group-item-action list-group-item-dark" data-toggle="list" href="#sub15" role="tab">Sub - 15</a>
        <a class="list-group-item list-group-item-action list-group-item-dark" data-toggle="list" href="#sub13" role="tab">Sub - 13</a>
        <a class="list-group-item list-group-item-action list-group-item-dark" data-toggle="list" href="#sub11" role="tab">Sub - 11</a>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="tab-content">
            <div class="tab-pane active" id="1ra" role="tabpanel">PRIMERA
            
            
            </div>
            <div class="tab-pane" id="2da" role="tabpanel">RESERVA</div>
            <div class="tab-pane" id="sub15" role="tabpanel">Sub - 15</div>
            <div class="tab-pane" id="sub13" role="tabpanel">Sub - 13</div>
            <div class="tab-pane" id="sub11" role="tabpanel">Sub - 11</div>
        </div>
    </div>


<script>
$(function () {
    
    $('#myList a:last').tab('show')
    
})
</script>

</div>




