<footer class="text-light">
     <div class="container-fluid bg-default py-3">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="row py-0">
                <div class="col-sm-11 text-white">
                   <h4>SEDE SOCIAL</h4>
                   <p>Dir. Av. Manuel Espinoza 330</p>
                   <p>Tel. 02336-481-111</p>
                   <mail>Email. <a href="footballclubvillahuidobro@gmail.com"></a>footballclubvillahuidobro@gmail.com</mail>

                </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
             <h4><strong>SEGUINOS</strong></h4>
              <div class="d-inline-block">
                <div class="bg-circle-outline d-inline-block" style="background-color:#333">
                  <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-2x fa-fw fa-facebook text-white"></i>
            </a>
                </div>
                <div class="bg-circle-outline d-inline-block"  style="background-color:#333">
                  <a href="https://twitter.com/FCVHOK" target="_blank">
                    <i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
                </div>
                <div class="bg-circle-outline d-inline-block" style="background-color:#333">
                  <a href="https://www.google.com/" target="_blank">
                    <i class="fa fa-2x fa-fw fa-youtube text-white"></i></a>
                </div>
              </div>
            </div>
          </div>
             <br>
              <p class="text-center"> Copyright © Football Club Villa Huidobro 2017. All right reserved. </p>
    <!--/.footer-bottom-->
        </div>
    </div>
</footer>
    <!--/.footer-->
