<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="img/gorra.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">GORRA.</p>
        </div>
        </div>
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="img/mate.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">MATE.</p>
        </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="img/busovilla.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">BUSO.</p>
        </div>
        </div>
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="img/remeravilla.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">REMERA.</p>
        </div>
        </div>
    </div>
</div>